<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Fucksake{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/uren/css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Uren registratie</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <!-- menu -->
            <ul class="nav navbar-nav ">
                <li class="active"><a href="{{ path('uren_default_index') }}">Home</a></li>
                {#<li class="active"><a href="{{ path('uren_default_invoer') }}">Invoeren</a></li>
                <li class="active"><a href="{{ path('uren_default_opvraag') }}">Opvragen</a></li>#}
                <li class="active"><a href="{{ path('uren_contact_index') }}">Contact</a></li>
                {#<li class="active"><a href="{{ path('uren_default_settings') }}">Persoonlijke Instelling</a></li><!-- Dit komt alleen als er iemand ingelogd is. -->#}
            </ul>
            <!-- login -->
            <ul class="nav navbar-nav navbar-right">
                {#<li><a href="{{ path('uren_default_sign_up') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
                <li><a href="{{ path('uren_login_index') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<footer>
    <div class="container">
        fucksake
    </div>
</footer>
</body>
</html>